*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url("../images/fundo-site.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'VT323', monospace;
  font-size: 18px;
  color: #F3F3F3;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  display: block;
}

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: white;
}

.cartao{
  background-color: #070d12;
  width: 370px;
  border: 5px solid #e126d9;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px;
}

.minhas-informacoes{
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.minhas-informacoes img{
  border-radius: 50%;
  width: 8rem;
  border: 5px solid rgb(63, 3, 97);
}

.cargo{
  color: rgb(117, 119, 119);
}

.abas{
  display: flex;
}

.aba{
  cursor: pointer;
  padding: 10px 0;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;
}

.aba.selecionado{
  background-color: #262626;
}

.aba.redes{
  background-color: #070d12;
}

.aba:hover{
  background-color: #414141;
}

.aba img{
  width: 2rem;
}

.cartao .conteudo div{
  font-size: 1.3rem;
  padding: 10px;
  height: 250px;
  background-color: #262626;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #e228d8 #070d12;
}

.subtitulo{
  text-align: center;
  padding: 10px 0;
}

.sobre{
  display: flex;
  text-align: justify;
  hyphens: auto;
}

.sobre::-webkit-scrollbar {
  width: 12px;
}

.sobre::-webkit-scrollbar-track {
  background-color: #070d12;
}

.sobre::-webkit-scrollbar-thumb {
  background-color: #e228d8;
  border-radius: 20px;
  border: 3px solid #070d12;
}

.frontend{
  color: rgba(17, 172, 32, 0.788);
}

.minhas-redes{
  display: none;
  text-align: center;
}

.lista{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista li a{
  display: inline-block;
  padding: 12.5px 0;
  width: 100px;
  border-radius: 5px;
  transition: opacity 0.3s ease-in-out;
}

.lista li a:hover{
  opacity: 0.65;
}

.lista li:nth-child(1) a{
  background-color: green;
}

.lista li:nth-child(2) a{
  background-color: gray;
}

.lista li:nth-child(3) a{
  background-color: aqua;
}